/*=================globals=============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;1,100;1,200;1,400;1,500;1,600&display=swap');

:root{
    /* colors */
    --blue-color:#4fb5d1;
    --blue-dark:#4694aa;/*1a79c7;*/
    --txt-dark:#fff;
    --txt-gray:#e9ebec;
    --txt-light:#657481;
    --txt-white: #22272b;
    --txt-otro: #c1c3c5;



    --shadow-color:rgba(3, 89, 189, 0.2);
    --gradient-color: linear-gradient(180deg,
    rgba(0,0,255,.2) 0%,
    rgba(0,0,255,.2) 96%
    )
}
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(360deg, #415460 20%, #415460 25%, #1f4459 50%, #003553 75%, #00264d 100%);
   
}

h1,h2,h3{
    color: var(--txt-dark);
}
p,span{
    color: var(--txt-gray);
}
ul{
    list-style: none;
}

a{
    text-decoration: none;
}


img{
    max-width: 100%;
    height: auto;
}
/*============= contenedores ==============*/
#particles-js {
	height: 100vh; 
	width: 100%;
    position: fixed;
    z-index: -1;
}


/*=================reausable classes==========*/
.container{
    max-width: 968px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;

}
.grid{
    display: grid;
    gap: 1.5rem;
}


/*####################### responsible portfolio website ##########################*/
/*============== profile========================*/
.profile{
    position: relative;
    padding-top: 3.5rem;
    row-gap: 2rem;
    margin-bottom: 3rem;
}
.profile-data{
    display: grid;
    justify-content: center;
    text-align: center;
}
.profile-data .imgBx{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3.5px solid var(--blue-color);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: .75rem;
}
.profile-data .imgBx img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

.nombre{
    font-size:2.5rem
}

.profile-data .profession{
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--txt-otro);
    margin-bottom: 0.5rem;
}

.profile-data .socials{
    display: flex;
    justify-content: center;
    column-gap: .75rem;
    
}

.profile-data .socials .link{
    font-size: 2rem;
    color: var(--txt-dark);
    transition: .3s;
}
.profile-data .socials .link:hover{
    color: var(--blue-color);
}

.profile-info{
    grid-template-columns: repeat(3,max-content);
    justify-content: center;
    column-gap: 2.5rem;
}
.profile-info .group{
    text-align: center;
}
.profile-info .group .number{
    margin-bottom: .25rem;
}
.profile-info .group .desc{
    font-size: small;
    font-weight: 500;
}

.profile-btns,
.profile-tbns .small-btns{
    display: flex;
    align-items: center;
    justify-content: center;
}

.experince,
.experince-details{
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-btns{
    column-gap: 1rem;
}
.experince{
    column-gap: 1rem;
}

.profile-btns .small-btns{
    column-gap: .25rem;
}
.experince .experince-details{
    column-gap: .25rem;
}
/*==============buttons====================*/
.btn{
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    background: var(--blue-color);
    color: var(--txt-white);
    padding: 1.15rem 1.5rem;
    border-radius: .5rem;
    transition: .3s;
    box-shadow: 0 8px 24px var(--shadow-color);
}
.descargar{
    background:none;
    border: var(--blue-dark) 0.1rem solid;
    color: #fff;
}

.btn:hover{
    background: var(--blue-dark);
}

.btn i{
    font-size: 1.25rem;
}
.btn-small{
    padding: .75rem;
    box-shadow: none;
}
.btn-gray{
    background: var(--txt-light);
    color: var(--txt-dark);
}
.btn-gray:hover{
    background: var(--txt-gray);
    color: var(--txt-white);
}

/*==============filter====================*/
.filter-tabs{
    margin: 2rem 0 2.5rem;
    background: var(--blue-dark);
    padding: .375rem;
    border-radius: .75rem;
    display: flex;
    justify-content: space-between;
    column-gap: .5rem;
}

.filter-btn{
    width: 100%;
    border: none;
    outline: none;
    padding: 1rem;
    color: var(--txt-dark);
    font-size: small;
    font-weight: 500;
    border-radius: .75rem;
    cursor: pointer;
    background: transparent;
    transition: .3s;

}
.filter-btn:hover,
.filter-btn.active{
    background: var(--blue-color);
}


.titulo {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
    color :var(--blue-color);
  }

  .titulo::after{
    content: '';
    display: block;
    width: 50px;
    height: 2px; /* Puedes ajustar el grosor de la línea aquí */
    background-color: var(--blue-color); /* Color de la línea */
    margin: 0 auto; /* Centra la línea debajo del texto */
    
    
   
    bottom: -10px; /* Espacio entre el h1 y la línea */
  }

  


/* ICONS */

.icon {
    cursor: pointer;
    height: 2rem;
    color: #4fb5d1;
  }

  .icon-about
  {
    font-size: 2rem;
    color: var(--txt-otro);
  }

/* ABOUT SECTION */
.about-details{
    
    margin-top: 1.5rem;

}
  .details-container {
    padding: 1.5rem;
    flex: 1;
    background: none;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
    height: 11em;
  }
  

  
  .section__pic-container {
    height: 400px;
    width: 400px;
    margin: auto 0;
  }
  
/*======== EXPRECIENCIA =============*/
.section-experince{
    margin-top: 3rem;
}
#timeline {
    width: 800px;
    height: auto;
    overflow: hidden;
    margin: 2rem auto;
    position: relative;
    background: url('../img/experiencia/dot.gif') left 45px repeat-x;
}
    
#dates
{
    width: 800px;
    height: 60px;
    overflow: hidden;
    
}
#dates li 
{
    list-style: none;
    float: left;
    width: 100px;
    height: 50px;
    font-size: 24px;
    text-align: center;
    background: url('../img/experiencia/biggerdot.png') center bottom no-repeat;
}
        #dates a {
          line-height: 38px;
          padding-bottom: 10px;
        }
        #dates .selected {
              font-size: 38px;
        }
    
    #issues {
      width: 800px;
      height: 350px;
      overflow: hidden;
    } 
#issues li {
    width: 800px;
    height: 350px;
    list-style: none;
    float: left;
}
        #issues li.selected img {
          -webkit-transform: scale(1.1,1.1);
          transform: scale(1.1,1.1);
        }
        #issues li img {
          float: left;
          margin: 10px 30px 10px 50px;
          background: transparent;
          -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE 8 */   
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);/* IE 6 & 7 */      
          zoom: 1;
          -webkit-transition: all 2s ease-in-out;
          transition: all 2s ease-in-out;
          -webkit-transform: scale(0.7,0.7);
          transform: scale(0.7,0.7);
        }
        #issues li h1 {
          color: #ffcc00;
          font-size: 48px;
          margin: 20px 0;
          text-shadow: #000 1px 1px 2px;
        }
        #issues li p {
          font-size: 14px;
          margin-right: 70px;
          font-weight: normal;
          line-height: 22px;
          text-shadow: #000 1px 1px 2px;
        }
        
#dates a{
    color:#d8c280 ;
}

    #grad_left,
    #grad_right {
      width: 100px;
      height: 350px;
      position: absolute;
      top: 0;
    }
      #grad_left {
            left: 0;
            background: url('../img1/experiencia/grad_left.png') repeat-y;
      }
      #grad_right {
            right: 0;
            background: url('../img1/experiencia/grad_right.png') repeat-y;
      }
    
    #next,
    #prev {
      position: absolute;
      top: 0;
      font-size: 70px;
      top: 170px;
      width: 22px;
      height: 38px;
      background-position: 0 0;
      background-repeat: no-repeat;
      text-indent: -9999px;
      overflow: hidden;
    }
      #next:hover,
      #prev:hover {
        background-position: 0 -76px;
      }
      #next {
        right: 0;
        background-image: url('../img/experiencia/next.png');
      }
      #prev {
        left: 0;
        background-image: url('../img/experiencia/prev.png');
      }
        #next.disabled,
        #prev.disabled {
          opacity: 0.2;
        }


.fecha-experiencia{
    color: var(--txt-otro);
}








/*==============projects==================*/

.experience__description .fa-solid {
    color: var(--blue-color);
}

.projects-card{
    position:relative;
    border-radius: 1rem;
    overflow: hidden;
}
.projects-card img{
    width: 100%;
    height: 100%;
}
.projects-modal{
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: -100%;
    left: 0;
    display: flex;
    align-items: flex-end;
    padding: 1.5rem 1.25rem;
    background: var(--gradient-color);
    transition: .3s;
}
.projects-card:hover .projects-modal{
    bottom: 0;
}
.projects-modal .subtitle,
.projects-modal .title{
    color: white;
}

.projects-modal .subtitle{
    font-size: small;
}
.projects-modal .title{
    font-size: medium;
    margin-bottom: .75rem;
}
.projects-btn{
    padding: .5rem;
    color: white;
}
/*===============skills==================*/
.skills{
    row-gap: 3.5rem;
}
.skills-group{
    display: grid;
    justify-content: center;
}

.skills-group .title{
    font-size: normal;
    text-align: center;
    margin-bottom: 1.5rem;

}
.skills-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
    row-gap: 1rem;
}
.skill{
    display: flex;
    column-gap: .5rem;
}
.skill i{
    font-size: 1rem;
    color: var(--blue-color);
}
.skill .name{
    font-size: medium;
    font-weight: 500;
    line-height: 18px;
}
.skill .level{
    font-size: small;
}

/* show % hide filter conmtent===========*/
.filter [data-content]{
    display: none;
}

.filter .active[data-content]{
    display: grid;
}

/*============ Footer ==================*/
.footer-copy{
    display: block;
    margin: 2.5rem 0 2rem;
    text-align: center;
    font-size: smaller;
}


/*============== scrollbar==============*/
::-webkit-scrollbar{
    width: .6rem;
    border-radius: .5rem;
    background: var(--txt-light);
}
::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background: var(--txt-gray);
}

::-webkit-scrollbar-thumb:hover{
    background: var(--txt-dark);
}

/*============= theme ======================*/
#theme-btn{
    position: absolute;
    top: 1.5rem;
    right: 0;
    font-style: 1.25rem;
    color: var(--txt-dark);
    cursor: pointer;
    transition: .3s;
}

#theme-btn:hover{
    color: var(--blue-color);
}

body.dark-theme{
    /* colors */
    --blue-color:#475ca3;
    --blue-dark:#392972;
   /* --txt-dark:#22272b;
    --txt-gray:#657481;
    --txt-light:#e9ebec;
    --txt-white: #fff;*/
   background: #0d0d25;
}

/* =========SKILLS CRICLE==========*/

.skills-circle{
    margin-top: 5rem;
    display: grid;
    justify-content: center;
    text-align: center;
       
    
    
}
.content{
    font-size: 2.5rem !important;
    text-align:left !important;
    margin-bottom: 1rem !important;
    color :var(--blue-color) !important;
}
.tagcloud {
    font-size: 14px;

}

.tagcloud--item {
    padding: 2px 4px;
    background-color: transparent;
    border: 1px solid transparent;
    cursor: pointer;
}

.tagcloud--item:hover {
    background-color: rgba(0, 0, 0, .1);
    border: 1px solid #541919;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    opacity: 1 !important;
    z-index: 100 !important;
}

.light .tagcloud--item {
    color: #fff;
}

.light .tagcloud--item:hover {
    background-color: rgba(255, 255, 255, .1);
    border: 1px solid #fff;
}





/* CONTACT */

#contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
  }
  
  .contact-info-upper-container {
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    
    border-color: rgb(163, 163, 163);
    background: (250, 250, 250);
    margin: 2rem auto;
    padding: 0.5rem;
    border: var(--blue-dark) 0.1rem solid;
  }
  
  .contact-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
  }
  
  .contact-info-container p {
    font-size: larger;
  }
  
  .icon-contact{
    font-size: 2rem;
    color: var(--txt-otro);
  }

  .a-contact {
    color: var(--txt-otro);
    text-decoration: none;
    text-decoration-color: white;
  }
  
  .a-contact:hover {
    color: var(--blue-dark);
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181);
  }




/*============ Responsive  ===============*/
/* for small devices*/
@media screen and (max-width:490px) {
    .container{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .profile-info{
        column-gap: 1.5rem;
    }
    .profile-btns{
        flex-direction: column;
        row-gap: 1rem;
    }
    .experince{
        flex-direction: column;
        row-gap: 1rem;
    }
    .skills-box{
        column-gap:1rem ;
    }

    /**/
    /*======== EXPRECIENCIA =============*/
    #about .details-container{
        width: 350px;
    }
    #timeline {
        width: 400px;
        height: 670px;
    
    
    }
    
    .experince{
        width: 400px;
    }
    #dates
    {
        width: 400px;
        height: 60px;
        overflow: hidden;
        
    }
    #dates li 
    {
        
        font-size: 17px;
    }
        
        
    #issues {
        width: 400px;
        height: 600px;
        overflow: hidden;
    } 


            
    #dates a{
        color:#d8c280 ;
    }

        #next,
        #prev {
        margin-top:27rem;
        position: relative;
        top: 0;
        font-size: 200px;
        top: 200px;
        
      
        }

    /* ==== contact ====*/
       
          
          .contact-info-upper-container {
            
            width: 400px;
           
          }
          
          
          
          .contact-info-container p {
            font-size: 1rem;
          }
          
  

}
/* for meduim devices*/
@media screen and (min-width:576px) {
    .projects{
        grid-template-columns: 332px;
        justify-content: center;
    }
    .filter-tabs{
        width: 332px;
        margin: 3rem auto;
    }
}
@media screen and (min-width:776px) {
    .projects{
        grid-template-columns: repeat(2,332px);

    }
    .skills{
        grid-template-columns: repeat(2,332px);
        justify-content: center;
        column-gap: 3rem;
    }

 
}
/*for large devices*/
@media screen and (min-width:1024px) {
    .container{
        margin-left: auto;
        margin-right: auto;
    }
    #theme-btn{
        top: 2.5rem;
        right: 2.5rem;
    }
    .profile{
        padding-top: 4rem;
    }
    .profile-data .imgBx{
        width: 280px;
        height: 280px;
        margin-bottom: 1rem;
    }
    .profile-data .imgBx img{
        width: 260px;
        height: 260px;
    }

    .profile-data .profession{
        margin-bottom: 0.1rem;
    }

    .profile-info{
        column-gap: 3rem;
    }
    .profile-btns{
        column-gap: 2rem;
    }
    .experince{
        column-gap: 2rem;
    }
    .projects{
        gap:  2rem 3rem;
    }

    .projects-modal{
        padding: 1.5rem;
    }

    .skills-group .title{
        margin-bottom: 2.5rem;
    }

    .footer-copy{
        margin: 4.5rem 0 2.5rem;
    }
}





